/* #region core */
body {
  background: #fafafa;
  color: #111;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
main {
  flex-grow: 1;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1168px;
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* #endregion */
/* #region Header */
.header-flex {
  display: flex;
}
.header_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo-link {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.03em;
  color: #111;
  text-transform: uppercase;
  margin-right: 447px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.header_logo-link-part {
  font-style: normal;
}
.header-logo-icon {
  fill: #fd9222;
}
.header_list-links {
  display: inline-flex;
  padding: 32px 0;
  font-weight: 500;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #111;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_list-links:hover {
  color: #fd9222;
}
.header_list {
  display: flex;
  gap: 24px;
  margin: 0;
  /* padding: 32px 0; */
  padding: 0;
}
.header_nav-container {
  display: flex;
  align-items: center;
}
.header_social-list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  margin-left: 92px;
  align-items: center;
}
.header_social-list-item {
  width: 24px;
  height: 24px;
}
/* #endregion */
/* #region Hero */
.hero-icons {
  fill: none;
  stroke: #111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-icons:hover {
  stroke: #fd9222;
}
.hero-wrapper {
  background-color: #1e1823;
  border-radius: 30px;
  display: block;
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url("../images/chocolate-back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 381px 56px 40px 40px;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
  max-width: 484px;
  border-radius: 30px;
  margin-top: 0;
  margin-bottom: 32px;
}
.hero-button-main {
  font-weight: 600;
  color: #fff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 144px;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button-main:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}
.hero-button-secondary {
  font-weight: 600;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 183px;
  text-align: center;
  padding: 14px 40px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button-secondary:hover {
  border: 1px solid #fd9222;
  color: #fd9222;
}
.hero-buttons-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-button-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-bttn-angle {
  fill: #fd9222;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-bttns-list {
  display: flex;
  gap: 14px;
  padding: 0;
  margin: 0;
}
.hero-scroll-box {
  display: flex;
}
.hero-scroll-box-links {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
  margin: auto;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-scroll-box-links:hover .hero-button-scroll {
  background-color: #fd9222;
}
.hero-scroll-box-links:hover .hero-bttn-angle {
  fill: #fff;
  transform: scale(0.75) rotate(-90deg);
}
.hero-scroll-box-links:hover {
  color: #fd9222;
}
.hero-bttns-link {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
/* #endregion */
/* #region Benefits */
.benefits-wrapper {
  background-color: #1e1823;
  height: 344px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 72px;
}
.benefits-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 18px;
}
.benefits-txt {
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}
.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: auto;
  max-width: 1100px;
}
.benefits-list-item {
  max-width: calc((100% - 2 * 70px) / 3);
  position: relative;
  padding-right: 18px;
}

.benefits-list-item:last-child {
  padding-right: 0;
}
.benefits-list-item:not(:last-child)::after {
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 124px;
  content: "";
  top: 25%;
  right: -1px;
}
.benefits-icon-box {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  background-color: transparent;
  margin-bottom: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.benefits-icon {
  fill: #fd9222;
}
/* #endregion */
/* #region ingredients */
.ingredients-wrapper {
  padding: 100px 0;
}
.ingredients-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  max-width: 411px;
  margin: 0 auto 28px;
}
.ingredients-title-supp {
  color: #fd9222;
}
.ingredients-txt {
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  max-width: 486px;
  margin: 0 auto 50px;
}
.ingredients-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.ingredients-list-item {
  border-radius: 15px;
  width: calc((100% - 57px) / 4);
  height: 270px;
  background-color: #1e1823;
  color: #fff;
  position: relative;
  overflow: hidden;
  padding: 28px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ingredients-list-item:nth-child(even) {
  background-color: #fff;
  border: 1px solid #fd9222;
  border-radius: 15px;
  color: #111;
}
.ingredients-list-item:first-child {
  background-color: #fd9222;
}
.ingredients-list-item-text {
  font-weight: 600;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  padding-top: 36px;
  margin: 0;
}
.ingredients-overlay {
  position: absolute;
  line-clamp: 8;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
}
.ingredients-list-item:hover .ingredients-overlay {
  transform: translateY(0);
}
.ingredients-list-item:hover {
  border: none;
  background-color: transparent;
}
.ing-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin: 0;
  margin-bottom: 8px;
}
.ing-bttn-first {
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
  border-radius: 35px;
  border: none;
  padding: 6px 16px;
  background: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ing-bttn-sec {
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding: 6px 16px;
  background: #fafafa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ing-bttn-first:hover,
.ing-bttn-first:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
.ing-bttn-sec:hover,
.ing-bttn-sec:focus {
  background-color: #fd9222;
  color: #fff;
}
.ing-overlay-txt {
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  margin: 0;
  margin-top: 14px;
  -webkit-line-clamp: 8;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* #endregion */
/* #region how-its-made */
.how-made_wrapper {
  max-width: 1200px;
  display: block;
  margin: 0 auto 100px;
}
.how-made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
  max-width: 411px;
  margin: 0 auto 50px;
}
.how-made_img {
  border-radius: 15px;
  width: 600px;
  height: 400px;
  background: rgba(0, 0, 0, 0.4);
}
.how-made_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}
.how-made-icon {
  margin-right: 8px;
  border-radius: 100%;
  fill: #4c4c4c;
  stroke-width: 1px;
  stroke: #eceded;
}
.how-made_box {
  display: flex;
  gap: 20px;
}
.how-made_txt-box {
  display: flex;
  flex-direction: column;
  max-width: 516px;
  border-radius: 15px;
  height: 400px;
  background: #fff;
  padding: 32px;
}
.how-made_list-item {
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #111;
}
.how-made_box-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  color: #111;
  margin: 0;
  max-width: 350px;
  padding-bottom: 24px;
}
/* #endregion */
/* #region reviews */
.reviews-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.reviews-list {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.reviews-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 360px;
  height: 200px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  max-width: calc((100% - 2 * 28px) / 3);
  padding: 56px 24px 24px 24px;
}
.reviews-img {
  position: absolute;
  top: -40px;
}
.review-bttn-box {
  margin: 0 auto;
}
.reviews-button {
  display: block;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.reviews-button:hover {
  background-color: #fd9222;
  border: none;
  color: #fff;
}
.reviews-list-txt {
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  margin: 0;
}
/* #endregion */
/* #region Footer */
.footer-wrapper {
  background-color: #1e1823;
  padding: 50px 0;
}
.footer-contatcs {
  margin-left: 672px;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 121%;
  letter-spacing: -0.02em;
  color: #fd9222;
  max-width: 300px;
  margin: 0;
}
.footer-title-sub {
  color: #fff;
}
.footer-contacts-link {
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
  font-style: normal;
}
.footer-contacts-txt {
  font-weight: 500;
  line-height: 129%;
  color: #fff;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 14px;
}
.footer-contacts-list {
  gap: 4px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer-title-box {
  display: flex;
  align-items: center;
}
.footer-nav-links {
  font-weight: 500;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #fff;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav-links:hover {
  color: #fd9222;
}
.footer-nav-list {
  display: flex;
  padding: 0;
  gap: 24px;
  margin: 0;
}
.footer-nav {
  display: flex;
}
.footer-button {
  display: flex;
  background: #fd9222;
  border-radius: 100px;
  padding: 17px 40px;
  width: 137px;
  height: 52px;
  font-weight: 600;
  color: #fff;
  justify-content: center;
  align-items: center;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: #fd9222;
}
.footer-button:hover {
  color: #fd9222;
  background-color: #fcf1e0;
}
.footer-subscribe-box {
  display: flex;
  gap: 8px;
}
.footer-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-form-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: #fd9222;
}
.footer-form-input:hover,
.footer-form-input:focus,
.footer-form-input:focus-within {
  border: 1.5px solid #fd9222;
}
.footer-line {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 1136px;
  height: 0px;
  margin: 50px auto 24px;
  align-self: center;
}
/* #endregion */
/* #region Modal windows */
.modal-overlay {
  background: rgba(46, 47, 66, 0.4); /*color for modal overlay not found*/
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #fafafa;
  border-radius: 15px;
  width: 517px;
  min-height: 794px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%);
  padding: 38px 40px 40px 40px;
}
.bttn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: inherit;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: #111111;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}
.bttn-close:hover,
.bttn-close:focus {
  background-color: #fd9222;
  stroke: #fff;
}
.modal-icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  max-width: 298px;
  margin: 0;
  margin-bottom: 42px;
}
.modal-form-title-second {
  color: #fd9222;
}
.modal-form {
  display: flex;
  flex-direction: column;
  max-width: 437px;
}
.modal-field-group {
  margin-bottom: 18px;
  border: none;
}
.form-label {
  display: block;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  display: block;
  cursor: pointer;
  margin-bottom: 8px;
}
.input-box {
  position: relative;
}
.modal-input {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding-left: 62px;
  width: 436px;
  height: 68px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-input:focus-within {
  border-color: #fd9222;
}
.modal-icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  stroke: #404040;
  fill: transparent;
}
.modal-input:focus + .modal-icon {
  stroke: #fd9222;
}
.modal-field-comment {
  margin-bottom: 18px;
  border: none;
}
.text-input {
  display: block;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  width: 436px;
  height: 137px;
  resize: none;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.text-input:focus {
  border-color: #fd9222;
}
.text-input::placeholder {
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.field-checkbox {
  margin-bottom: 40px;
}
.checkbox-input {
  cursor: pointer;
}
.form-checkbox-label {
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  cursor: pointer;
}
.check {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  background-color: transparent;
  margin-right: 12px;
}
.checkbox-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}
.button-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 117px;
  height: 45px;
  margin: 0 auto 0 0;
  background: #fd9222;
  border: none;
  outline: none;
  font-weight: 600;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-input:checked + .form-checkbox-label > .check {
  background-color: #fd9222;
  border: none;
  fill: #fff;
}
.checkbox-input:focus + .form-checkbox-label > .check {
  border: #404bbf;
}
.button-modal:hover,
.button-modal:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}
/* #endregion */
